%a.dropdown-toggle.sorting-dropdown.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = t(".#{params[:sorting] || 'newest'}")
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu.sorting-menu
  - books_sorting_options.each do |sorting_option|
    %li
      = link_to t(".#{sorting_option}"), request.params.merge(sorting: sorting_option)
